.achievement-text {
  font-family: Serif;
  font-size: large;
}

.badge {
  color: #FFFFFF;
  background-color: #FF0000;
}

.close {
  font-size: xx-large;
}

.info-btn {
  font-family: Serif;
  font-size: large;
}

.info-container {
  background-color: #EEEEEE;
}

.info-text {
  font-size: large;
}

.modal-title {
  font-family: Serif;
  float: right;
}

.navbar-header {
  float: left;
}

.navbar-nav {
  width: 100%;
}

.row {
  padding-top: 15px;
  padding-right: 15px;
}

#achievement_name {
  font-style: bold;
}

#achievement_point_value {
  color: #1C77BA;
}

#achievement_widget_container {
  float: left;
  display: none;
  width: 50%;
  background-color: #EAE2E1;
}

#bar_widget_container {
  padding-bottom: 50px;
}

#info_body {
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#info_header {
  font-family: Serif;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#info_header_text {
  float: right;
}

#nav_bar_box_widget_container_li {
  float: right;
}

#present_modal_btn {
  display: none;
}

#right_rail_container {
  float: right;
  width: 25%;
}
